:root {
    --body: #ffffff;
    --container: #ffffff;
    --main_color: #A0FFAC;
}

/*.container {
    background: var(--container);
    padding-top: 1rem!important;
    padding-bottom: .5rem!important;
}*/






input[type=datetime-local].form-control {
    line-height: 2.25rem;
    line-height: inherit;
}

.del_inp a {
    text-decoration: none;
    color: #000;
}

.del_inp a:hover {
    text-decoration: none;
    color: #000;
}



.card.chat-room .members-panel-1,
.card.chat-room .chat-1 {
    position: relative;
    overflow-y: scroll; }

.card.chat-room .members-panel-1 {
    height: 570px; }

.card.chat-room .chat-1 {
    height: 495px; }

.card.chat-room .friend-list li {
    border-bottom: 1px solid #e0e0e0; }
.card.chat-room .friend-list li:last-of-type {
    border-bottom: none; }

.scrollbar-light-blue::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }

.scrollbar-light-blue::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }

.scrollbar-light-blue::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: var(--main_color); }

.rare-wind-gradient {
    background: var(--body); }


.social_link img{
    width: 4em;
}

.bell{
    width: 1.5em;
}

.custom-file-label::after{
    content: "Открыть...";
}
.table td, .table th{
    text-align: center;
}
.form_bg{
    background: #ffffff;
    padding: 1em;
    border-radius: 1em;
}
.bg-button{
    color: #52B570;
    background: #ffffff;
    border: 0.05em solid #000000;
}
.bg-button:hover{
    color: #ffffff;
    background: #000000;
}